BveEx/Plugins/AtsExVehicleConfigXmlSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="BveExVehicleConfigXmlSchema"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="BveExVehicleConfig">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="DetectSoundIndexConflict" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
				<xs:element name="DetectPanelValueIndexConflict" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
				<xs:element name="PluginUsingPath" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
